/* main body */
/* html{
  font-size: 16px;
}*/
body{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-weight: bold;
  font-size: 50px;
}
/* containers and items used in multiple sections */
.sidebar{
  width: 40%;
  display: inline-flex;
  flex-flow: column nowrap;
}
.item{
  width: 100%;

  border: 2px solid black;
  display: flex;
  align-items: center;
}



/* header section */
header{
  background-color: white;
  height: 4rem;
  border: 1px solid black;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

  /*nav*/
header nav{
  display: flex;
  align-items: center;
}
header nav ul{
  list-style: none;
  display: flex;
}
header nav ul li{
  padding-left: 1rem;
}
header nav ul li:last-child{
  padding-right: 1.5rem;
}
nav a{
  text-decoration: none;
}

  /* logo*/
.logo{
  display: flex;
  align-items: center;
  height: 2rem;
}
.logo img{
  padding-left: 1.5rem;
}
.logo span{
}

/* banner section */
.banner{
  background-color: rgb(216, 216, 216);
  display: flex;
  align-items: center;
}
.banner .main{
  width: 60%;
  height: auto;
  overflow: hidden;
  margin: 2rem 1.5rem;
}
.banner .main img{
  width: 100%;
  display: block;
  height: auto;
}

.banner .caption{
  width: 30%;
}
.caption .button{
  margin-top: 4.5rem;
  text-align: center;
  padding: .5rem 0;
  color: white;
  background-color: rgb(74, 74, 74);
}
/* info section */
.info{
  background-color: rgb(243, 245, 245);
  display: flex;
}
.info .main{
  margin: 2rem 1.5rem;
  width: 60%;
}
.info .img-container{
    width: 100%;
    overflow: hidden;
    height: auto;
}
.info .img-container img {
  width: 100%;
  height: auto;
  display: block;
}
.info h1{
  margin-top: 2rem;
}
.info p{
  margin-top: 1.5rem;
}
.info span{
  display: block;
  margin-top: 2rem;
}

.info .sidebar{
  margin-top: 2rem;
}
.text-container{
  width: 65%;
}
.info .sidebar .img-container{
  width: 35%;
  margin: 1rem;
}
.info .sidebar p{
  margin: .5rem 0;
}
.sidebar .item:last-child{
  background-color: rgb(216, 216, 216);
}

/* courses section */
.courses{
}
.courses .item{}

/* thesis section */
.thesis{

}
.thesis .main{}
.thesis .sidebar{}

/* footer section */
footer{
}
footer nav{}
footer .copyright{}
